.row {
  margin:0;
}
#logo {
  position:absolute;
  top:0;
  right:0;
  margin: 10px 20px;
  height: 40px;
}
.toggle-group {
  cursor: pointer;
}
.country {
  fill: #d7d7d8;
}
.info-icon {
  color: #777;
  cursor:pointer;
  text-decoration: none;
  cursor: pointer;
}
.info-icon:hover {
  color: #000000;
}
#title {
  position:absolute;
  top:0;
  left:0;
  margin: 10px 20px;
}
#map {
  width:100%;
  text-align:center;
  margin-bottom: -50px;
}
.city {
  fill: black;
  pointer-events: none;
}
.city-shadow {
  fill: white;
  opacity: 0.5;
}
.city-label {
  font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10px;
  pointer-events: none;
}
.label-shadow {
  font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10px;
  stroke: white;
  stroke-width: 1.5px;
  opacity: 0.8;
}
.sliders {
  margin:10px;
  max-width:200px;
  background:rgb(127, 0, 0);
}
.graph-segment {
  cursor: pointer;
  display: inline-block;
  height:12px;
}
.graph-text-col {
  text-align: right;
  padding: 0 6px;
}
.graph-bar-col  {
  padding: 0;
}
#map {
  margin-top:60px;
}
@media (min-width:550px){
  #map {
    margin-top:40px;
  }
}
@media (min-width:800px){
  #map {
    margin-top:20px;
  }
}
@media (min-width:1000px){
  #map {
    margin-top:0px;
  }
}
.sliders.null-slider { background: #e4e4e5 !important;}
#collapsePrograms .well {
  padding: 6px 19px;
}
#tooltip {
    position:absolute;
    z-index:999;
    font-size:14px;
    color: #1a1a1a;
    background-color: rgba(245,245,245,1);
    border-radius: 3px;
    padding: 2px;
}
#tooltip:empty {
    display:none;
}
